@media screen and (max-width: 1000px) {
    html body {
        min-width: 0;
    }

    #publicphotos {
        width: 715px;
        margin: 0 auto;
        padding-left: 0;
    }

    #wrapper{
        width: 100%;
        margin: 0;

    }

    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #header-area-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: -25px;
    }

    #logoarea{
        padding: 5px;
    }

    #search-form {
        margin-top: 10px;
    }

    header{
        height: 140px;
    }

    #publicphotos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    #sun{
        margin-left: calc(50% - 237px);
    }

    *{
        min-width: 0 !important;
        max-width: none !important;
    }

    .p-photos-block {
    }
}

@media screen and (max-width: 756px)  {
#menu ul{
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   flex: 1 100%;
   flex-wrap: wrap;
   width: 100%
}

    #menu ul li a{
        flex-wrap: wrap;
        width: 90%;
        text-align: center;
    }

    #header-area-right{
        width: 100%;
    }

    #menu{
        width: 100%;
    }

    #search-form {
       width: 60%;
    }

    header{
        height: 235px;
    }

#publicphotos h1 {
        text-align: center;
    }

    section.contentblock {
        width: 100%;
    }

    #p-albums-items {
        width: 67%
    }
}