@import url('https://fonts.googleapis.com/css?family=Oxygen');

body {
    background: #927057;
    color: white;
    font-family: Oxygen;
}

form {
    background: #D5C395;
}

div.image-container{
    margin: 0 auto;
    width: 198px;
    height: 183px;
    border: 5px solid #D5C395;
}

header>img{
    margin-left: calc(50% - 34px);
    margin-top: 30px;
}

form{
    width: 40%;
    margin: -28px auto;
    align-items: center;
}

form h1{
    position: relative;
    bottom: -50px;
    margin-bottom: 60px;
    text-align: center;
}

input{
    display: block;
    box-sizing: border-box;
    background-color: #EFE1C4;
    border: none;
    width: 80%;
    margin: 0 auto;
    padding-left: 60px;
    margin-bottom: 20px;
}

button{
    width: 80%;
    margin-left: 10%;
    margin-top: 23px;
    margin-bottom: 20px;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    color: #D5C395;
    background-color: #927057;
    text-align: center;
    border: none;
    font-size: 30px;
    font-weight: bold;
}

main form{
    position: relative;
}

footer{
    text-align: center;
    margin-top: 50px;
    width: 40%;
    margin: 50px auto;
}

#user{
    background-image: url(img/user.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 15px;
}

#pass{
    background-image: url(img/pass.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 15px;
}

input{
    height: 30px;
}